
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
  padding: 0;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: hsla(207, 44%, 49%, 1.0);
  stroke-width: 1.5px;
}

button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.chart {
/*  width: calc(80vw + 60px);*/
	width: calc(100vw - 20px);
  vertical-align: bottom;
	height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.chart div {
  flex-wrap: nowrap;
  /*float: left;*/
  /*min-width: 1vw;*/
  flex-grow: 1;
  margin-right: 1px;
  font: 12px sans-serif;
  background-color: hsla(207, 44%, 49%, 1.0);
  /*text-align: right;*/
  /*padding: 3px;*/
  /*margin: 1px;*/
  text-align: center;
  vertical-align: bottom;
  color: white;

}

.max {
  background-color: hsla(7, 44%, 49%, 1.0) !important;
}